If it's your turn and you cannot take a mandated action, you win.
If a queen is played, all cards on the table are burned.
If a king is played, everyone switches hands in direction of play.
If an ace is played, the cards on the table are given to the next player in direction of play.
If a jack is played, one must choose one of the queen, king, or ace rule. Note: the jack remains a jack.
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
One cannot make a rule in direct opposition to rules 1-6.
Can play any card from top three cards of the hand.
Instead of playing, you can swap one card from your playable hand with one card from another's.
If a player recieves a J, Q, K, or A from a swap, that player must immediately play said card. Note: Order of priority is Q > K > A > J; Favors swapper
A player can play duplicates. Each duplicate played card moves a card to the bench from one's nonplayable hand. 
If a player plays a card that matches the suit of the top card on the table, that player can immediately play a card from their bench
--------------------------------------------------------------------------------------------------------------------------------------------------------------------
Any duplicates on the top of the table count as played duplicates after a card has been played
If the card moved to the bench is a duplicate, you can play it immediately and the duplicate rule applies.
